.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.items {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden; /* Para ocultar la rotación adicional */
  position: relative; /* Para posicionar el texto sobre la imagen */
}

.items img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s ease; 
}

.items:hover img {
  transform: rotate(50deg); /* Rotar 50 grados al pasar el mouse */
}

.items h2 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.items .parrafo {
  font-size: 1rem;
  color: #333;
}

.items .detalle {
  display: block;
  margin-top: 10px;
  color: #F7853A;
  text-decoration: none;
}

.items .detalle:hover {
  text-decoration: underline;
}
.contenedor-detail{
        display: flex;
        flex-direction: row;
        

    
}
.imgdetail{
    width: 500px;
    margin: 30px;
}
.contenedor-description{
    display: flex;
    flex-direction: column;
    margin: 30px;
 
  
   
}
.button-detail{
    background-color: black; 
  border: none; 
  color: white; 
  padding: 15px 32px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 8px; 
  transition-duration: 0.4s; 
}

.button-detail:hover{
    background-color: #F7853A;
}

.loader{
  border: 6px solid #F7853A; 
  border-top: 6px solid black; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
